#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    background: linear-gradient(to bottom, #0d1117, #1e272e);
    overflow: hidden;
  }
  
  .language-switcher {
    margin: 10px 0;
  }
  
  .language-button {
    background-color: #42b983;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .language-button:hover {
    background-color: #36a373;
  }
  
  footer {
    background-color: #1e272e;
    color: #fff;
    padding: 20px 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    padding: 10px;
  }
  
  .footer-center {
    text-align: center;
  }
  
  .footer-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-link {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-link:hover {
    color: #42b983;
  }
  
  .footer-bottom {
    font-size: 0.9rem;
    text-align: center;
  }